{% extends "admin_dashboard/base.html" %}
{% load static %}

{% block title %}Add New Employee{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/add_employee.css' %}" />
<link rel="stylesheet" href="{% static 'css/_message_popup.css' %}">
{% endblock %}

{% block content %}
<div class="addemployee-container">
    {% include '_message_popup.html' %}
    <h2>Add New Employee</h2>
    <form action="{% url 'admin_dashboard:add_employee' %}" method="POST" class="employee-form">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Add Employee</button>
    </form>
</div>
<script src="{% static 'scripts/_message_popup.js' %}"></script>
{% endblock %}
