{% extends "base.html" %} 

{% block title %}Admin Dashboard{% endblock %} 
{% block content %}
<h2>Admin Dashboard</h2>
<div class="dashboard-buttons">
  <a href="{% url 'admin_dashboard:add_employee' %}" class="dashboard-button">
    Add New Employee
  </a>
  <a href="{% url 'admin_dashboard:view_employees' %}" class="dashboard-button">
    View Employee List
  </a>
  <a href="{% url 'admin_dashboard:add_attendance' %}" class="dashboard-button">
    Add Attendance
  </a>
  <a href="{% url 'admin_dashboard:leave_requests' %}" class="dashboard-button">
    Leave Requests
  </a>
</div>
{% endblock %}
