{% extends "base.html" %} 
{% load static %}

{% block title %}Admin Dashboard{% endblock %} 
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
{% endblock %}
{% block content %}
<div class="dashboard-container">
  <div class="dashboard-buttons">
    <a href="{% url 'admin_dashboard:add_employee' %}" class="dashboard-button">
      Add New Employee
    </a>
    <a
      href="{% url 'admin_dashboard:view_employees' %}"
      class="dashboard-button"
    >
      View Employee List
    </a>
    <a
      href="{% url 'admin_dashboard:add_attendance' %}"
      class="dashboard-button"
    >
      Add Attendance
    </a>
    <a
      href="{% url 'admin_dashboard:leave_requests' %}"
      class="dashboard-button"
    >
      Leave Requests
    </a>
  </div>
</div>
{% endblock %}
