/* General container styling */
.profile-container {
  margin: 10px auto;
}

/* Section styling */
.section {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

.section h3 {
  margin-top: 0;
  color: #333;
}

/* Personal Details and Bank Details specific styling */
.personal-details p,
.bank-details p, 
.upload-document-form p {
  color: #424242;
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
}

.personal-details p input,
.bank-details p input, 
.upload-document-form p input {
  background-color: rgba(174, 174, 174, 0.082);
  color: #333;
  border: none;
  border-radius: 4px;
  padding: 10px;
  margin-top: 5px;
  font-size: 15px;
}

.personal-details p input:focus,
.bank-details p input:focus,
.upload-document-form p input:focus {
  outline: 1px solid #004691aa; /* Blue outline for focus state */
}

.personal-details p label,
.bank-details p label, 
.upload-document-form p label {
  font-weight: bold;
}

.upload-document-form {
}


.upload-document-form p{

}

/* Document Section styling */
.documents-list {
}

.documents-list table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.documents-list th,
.documents-list td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

.documents-list th {
  background-color: #f4f4f4;
}

.documents-list .verified {
  color: #28a745; /* Green color for verified */
}

.documents-list .unverified {
  color: #dc3545; /* Red color for unverified */
}

/* Form container */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
  margin: 0 auto;
}

/* Form elements */
.grid-container input,
.grid-container select,
.grid-container textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.grid-container label {
  font-weight: bold;
}

/* Error messages */
.error-messages {
  background-color: #fdd;
  border: 1px solid #f99;
  border-radius: 4px;
}

.error-messages ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.error-messages li {
  color: #d44;
}

/* Button Group */
.button-group {
  display: flex;
  justify-content: flex-end;
}

.edit-button,
.cancel-button {
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px 5px;
}

.edit-button {
  background-color: #28a745; /* Green color for submit button */
}

.cancel-button {
  background-color: #6c757d; /* Gray color for cancel button */
}

.edit-button:hover,
.cancel-button:hover {
  opacity: 0.9;
}

.edit-button:focus,
.cancel-button:focus {
  outline: 2px solid #007bff; /* Blue outline for focus state */
  outline-offset: 2px;
}

.update-button {
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #28a745; /* Blue color for update button */
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px 5px;
}

.update-button:hover {
  opacity: 0.9;
}

.upload-document-form textarea {
  height: 40px;
  background-color: rgba(174, 174, 174, 0.082);
}

.upload-document-form h4 {
  margin-top: 0;
  color: #333;
  grid-column: span 2;
}

.doc-submit{
  grid-column: span 2;
  border: none;
  width: 40%;
  border-radius: 4px;
  padding: 10px;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .grid-container {
  }

  .button-group {
    flex-direction: column;
  }

  .button-group button {
  }
}
