.addemployee-container {
  background-color: #f5f5f5;
  margin: 0 auto;
}

.employee-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Form Title */
.addemployee-container h2 {
  margin-bottom: 20px;
  color: #333;
}

/* Form Styles */
.employee-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.employee-form .form-control {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.employee-form .form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Labels */
.employee-form label {
  margin-bottom: 5px;
  font-weight: 600;
  color: #555;
}

/* Full-width Input Fields */
.employee-form .full-width {
  grid-column: span 3;
}

/* Submit Button */
.employee-form .btn-primary {
  grid-column: span 3;
  padding: 12px 20px;
  width: 40%;
  margin: 10px auto;
  font-size: 16px;
  color: #fff;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.employee-form .btn-primary:hover {
  background-color: #0253a9;
}

/* Media Query for Mobile Responsiveness */
@media (max-width: 600px) {
  .employee-form {
      grid-template-columns: 1fr;
  }

  .employee-form .btn-primary {
      grid-column: span 1;
  }
}
