/* General container styles */
.data-container {
}

.data-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Filter section */
.filter-section {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-section label {
    font-size: 16px;
    margin-right: 10px;
    color: #333;
}

.filter-section .form-control {
    display: inline-block;
    width: auto;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Search box styles */
.search-box {
    margin-left: auto;
}

.search-box input[type="text"] {
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 300px;
}

/* Request item styles */
.request-item {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.request-item:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.request-item h3 {
    margin: 0px;
    color: #292929;
    font-size: 20px;
    font-weight: 600;
}

.request-item p {
    font-size: 14px;
    margin-bottom: 8px;
    color: #555;
}

.request-item ul {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.request-item ul li {
    font-size: 14px;
    color: #333;
    margin-bottom: 6px;
}

.request-item ul li input[type="text"] {
    width: 30%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px;
}

/* Button styles */
.btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}

.approve-btn {
    background-color: #28a745;
    border: 1px solid #28a745;
}

.reject-btn {
    background-color: #dc3545;
    border: 1px solid #dc3545;
}

.details-btn {
    background-color: #17a2b8;
    border: 1px solid #17a2b8;
}

.btn:hover {
    opacity: 0.7;
}

.document-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    margin-bottom: 10px;
}

.document-item a{
    color: #333;
    text-decoration: none;
}